<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>

    <div class="for_background">
        <div class="profile">
            <div class="container2">  
    <% if (posts.length > 0) { %>
    <div class="posts list">
        <h2>All posts</h2>
        <% posts.forEach(post => { %>

        <a class="singlepost" href="/singlepost/<%= post.id %>">
        <h3 class="title">
        <%= post.title %>
        </h3>
        <p class="body">
        <%= post.body %>
        </p>
        <img src="<%= post.image %>"" alt="Girl in a jacket">
        </a>
        <button class="likebutton-<%= post.id %>" onclick="this.disabled=true">Like</button>
        <script>
            document.querySelector('button.likebutton-<%- post.id %>')
            .addEventListener('click', (e) => {
                const postid = "<%- post.id %>" 
                console.log("Sending post request from <%- post.id %>");
                const endpoint = `/posts/<%- post.id %>`;
                fetch(endpoint, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'sapplication/json'
                    },
                    body: JSON.stringify({id: postid})
                }); 
            });
        </script>
        <% })} else { %>
            <p>You did not post anything...</p>
        <% } %>
        </div>
    </div>
</div>
</div>   

<script>

</script>

        <%- include('partials/footer.ejs')%>
</body>
</html>